.underTop {
  background: url(../img/DSCN0906.JPG) center center no-repeat;
}

@media (min-width: 768px) {
  .topDl.first {
    height: 308px;
  }
  .topDl.second {
    height: 508px;
  }
}

.topDl__dd {
  max-width: 485px;
}

.topDl__photo.first {
  background: url(../img/DSC_0075.jpg) left top no-repeat;
}

.topDl__photo.second {
  background: url(../img/04_earthwall_stage02.jpg) left top no-repeat;
}

.imgContainer {
  height: 500px;
  width: 100%;
  background: url(../img/04_earthwall_stage_03.jpg) no-repeat center center;
}

.ownSetting .photoCol4__image {
  width: 201.5px;
  height: 160px;
}

.ownSetting .photoCol3__image {
  width: 100%;
  height: 200px;
}

.contentSection .subtitleSection {
  padding: 0;
}