.underTop {
  background: url(../img/bg_main.jpg) center center no-repeat;
}

.topDl__photo {
  margin: 0;
}

.topDl__photo.first img {
  width: 500px;
}


@media (min-width: 768px) {
  .topDl.first {
    height: 308px;
  }
  .topDl.second {
    height: 508px;
  }
}

.topDl__dd {
  max-width: 485px;
}

.imgContainer {
  height: 500px;
  width: 100%;
  background: url(../img/photo_main.jpg) no-repeat center center;
}

.ownSetting .photoCol4__image {
  width: 201.5px;
  height: 160px;
}

.ownSetting .photoCol3__image {
  width: 100%;
  height: 200px;
}

.contentSection .subtitleSection {
  padding: 0;
}

.tableSample {
  margin-top: 15px;
}