@charset "utf-8";
div#contents {
  padding-top: 25px;
/*  padding-top: 85px;*/
  padding-left: 200px;
  background: #ffffff;
}
div#contents.publish .list-title {
  width: 99%;
}
div#contents .list-title {
/*
  width: 98%;
  background-color: #DDD;
  padding: 7px;
  font-weight: bold;
  margin-top: 30px;
  border: 1px solid #CCC;
*/
  width: 90%;
  padding: 0px 1px 0px 1px;
  margin-top: 30px;
  border-top: 1px solid #CCC;
}
div#contents.publish #inputtbl {
  width: 98%;
  padding: 7px;
}
#inputtbl {
  padding: 0px;
  width: 90%;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background: #fff;
}
.block-s,
.block-m {
  height: auto;
}
.block-s {
  width: 35%;
}
.block-m {
  width: 64%;
}
.block-s {
  vertical-align: top;
}
.block-l .input-title {
  width: 98%;
  background-color: #DDD;
  padding: 7px;
  font-weight: bold;
  margin-top: 15px;
  border: 1px solid #CCC;
}
.block-m .input-title {
  width: 96%;
  background-color: #DDD;
  padding: 7px;
  font-weight: bold;
  margin-top: 15px;
  border: 1px solid #CCC;
}
.block-s .input-title {
  width: 96%;
  background-color: #DDD;
  padding: 7px;
  font-weight: bold;
  margin-top: 15px;
  border: 1px solid #CCC;
}
.block-l #inputcontents {
  width: 98%;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 7px;
}
.block-m #inputcontents {
  width: 96%;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 7px;
}
.block-s #inputcontents {
  width: 96%;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 7px;
}

.block-s.catalog #inputcontents {
  width: 96%;
}
.block-m #inputcontents .inner {
  width: 345px;
  margin: 0 auto;
}
.block-m #inputcontents span {
  margin-right: 2px;
}
input[type=checkbox] {
  margin-right: 3px;
}
.img {
  width: 120px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.img img {
  max-width: 120px;
  max-height: 120px;
}
.report-img {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}
.report-img img {
  max-width: 100px;
  max-height: 100px;
}
#left-area {
  display: inline-block;
  margin-left: 10px;
  min-width: 60%;
  margin-top: 15px;
}
#right-area {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}
table.tbl th {
  font-weight: normal;
  line-height: 20px;
}
table.tbl td {
  margin-bottom: 12px;
}
table.tbl td,
table.tbl th {
  float: left;
  clear: both;
  text-align:left;
}
table.input-tbl {
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
}
table.input-tbl td,
table.input-tbl th {
  float: none;
  padding: 6px 15px 3px 8px;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
}
table.input-tbl.total tr:nth-last-of-type(2) td {
  border-bottom: none;
}
.double td{
  border-top: 5px double #CCC;
}
.bg-grey,
table.input-tbl th {
  background-color: #DDD;
}
#right-area table.tbl td {
  margin-left: 10px;
}
#right-area input[type=text] {
  margin-right: 3px;
}
select,
textarea,
input[type=text] {
  padding: 3px;
}
.profile textarea {
  width: 285px;
}
.profile .free-word textarea {
  width: 590px;
}
#inputcontents select {
  margin-right: 3px;
}
.block .input-title {
  width: 260px;
  background-color: #DDD;
  padding: 7px;
  font-weight: bold;
  margin-top: 15px;
  border: 1px solid #CCC;
}
.block #inputcontents {
  width: 260px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 7px;
}
#inputcontents .row,
.catalog-list .row {
  position: relative;
  margin-bottom: 8px;
}
#inputcontents .row .cancel-icon,
.catalog-list .row .cancel-icon {
  position: absolute;
  top: 20px;
  right: 0;
}
#inputcontents .left-img,
.catalog-list .left-img {
  width: 80px;
  float: left;
}
#inputcontents .left-img img,
.catalog-list .left-img img {
  max-width: 80px;
  max-height: 80px;
}
#inputcontents .detail,
.catalog-list .detail {
  font-size: 13px;
  margin-right: 10px;
  line-height: 16px;
  margin-left: 85px;
}
#inputcontents .detail .name,
.catalog-list .detail .name{
  min-height: 32px;
}
.del-btn-area {
  float: left;
  width: 45%;
  margin-left: 12px;
  min-width: 180px;
}
.btn-del {
  border: 1px solid rgb(242,86,86);
  color: white;
  cursor: pointer;
  background: rgb(242,86,86);
  padding: 5px;
  width: 100px;
  font-weight: bold;
  margin-top: 8px;
}
.btn-open {
  border: 1px solid rgb(34,186,160);
  color: white;
  cursor: pointer;
  background: rgb(34,186,160);
  padding: 5px 15px;
  min-width: 100px;
  font-weight: bold;
  margin-top: 8px;
}
.btn-disabled {
  border: 1px solid rgb(96,96,96);
  background: rgb(127,127,127);
}
.btn-re-upload {
  border: 1px solid rgb(156,167,226);
  color: white;
  cursor: pointer;
  background: rgb(156,167,226);
  padding: 5px 15px;
  min-width: 100px;
  font-weight: bold;
  margin-top: 8px;
}
.btn-up {
  border: 1px solid #4c4c4c;
  color: white;
  cursor: pointer;
  background:#4c4c4c;
  padding: 5px;
  width: 170px;
  font-weight: bold;
  margin-top: 8px;
}
.btn-save {
  border: 1px solid #4c4c4c;
  color: white;
  cursor: pointer;
  background:#4c4c4c;
  padding: 5px;
  width: 150px;
  font-weight: bold;
  margin-top: 8px;
}
.date_icon {
  display: inline-block;
  vertical-align: middle;
}
table th.no-line-break,
table td.no-line-break {
  clear: none;
}

/*** コンテンツ公開 ***/
.tab {
  width: 98%;
  padding: 7px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
.tab li {
  background-color: #DDD;
  float: left;
  width: 48%;
  padding: 10px;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  min-width: 400px;
}
.tab li.current {
  background-color: white;
}
.tab div {
  background-color: #DDD;
  float: left;
  width: 48%;
  padding: 10px;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.tab div.current {
  background-color: white;
}

.tab a {
  color:black;
  text-decoration: none;
}
.open_type th {
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 10px;
}
.open_type td {
  margin-left: 20px;
}
.open_type td div {
  margin-top: 8px;
}
.open_type td label {
  margin-right: 15px;
}
.open_type td select {
  margin-left: 5px;
  margin-right: 5px;
}
.row-tbl {
  width: 100%;
}
.row-tbl th {
  border: 1px solid #CCC;
  font-weight: normal;
  padding: 8px;
  width: 170px;
  min-width: 170px;
}
.row-tbl td {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  padding: 8px;
}
.row-tbl.target {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.row-tbl.target td {
  padding: 2px;
}
.row-tbl.target th,
.row-tbl.target td {
  border-top: none;
  border-bottom: none;
}
.sync-tbl {
  width: 100%;
  margin-top: 10px;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
  min-width: 960px;
}
.sync-tbl td,
.sync-tbl th {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
}
.sync-tbl th {
  font-weight: normal;
}
.btn {
  border: 1px solid #4c4c4c;
  color: white;
  cursor: pointer;
  background:#4c4c4c;
  padding: 5px;
  font-weight: bold;
  margin-top: 8px;
}
.file-icon,
.folder-icon,
.home-icon,
.back-icon {
  padding-bottom: 3px;
  margin-right: 2px;
  vertical-align: middle;
  display: inline-block;
}
.operation a {
  text-decoration: none;
}
.operation-icon1 {
  padding-bottom: 3px;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
  width: 25px;
}
.operation-icon2 {
  padding-bottom: 3px;
  vertical-align: middle;
  display: inline-block;
  width: 20px;
}
.file-icon,
.folder-icon {
  margin-right: 8px;
}

.block-m.file-up #inputcontents .inner {
  width: 740px;
  margin: 0 auto;
}
.block-m.file-up {
  min-width: 810px;
}
.tbl.conf th {
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 10px;
}
.tbl.conf td {
  margin-bottom: 8px;
  margin-left: 20px;
}
.conf-textarea {
  width: 750px;
  height: 300px;
}
.complete-msg {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: bold;
}
.edit-area {
  background: #4c4c4c;
  position: absolute;
  top: 55%;
  right: 10%;
  color: white;
  width: 350px;
}
.edit-area .move,
.edit-area .code {
  padding: 15px;
  height: 25px;
}
.edit-area .code {
  border-bottom: 2px dotted black;
}
.edit-area .name{
  height: 25px;
  padding: 15px;
  border-bottom: 2px dotted black;
}
.edit-area .name input[type=text]{
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
}
.edit-area .move input[type=text]{
  margin-right: 5px;
}
.edit-area .arrow:before {
  border-bottom: 10px solid transparent;
  border-left: 15px solid white;
  border-top: 10px solid transparent;
  content: "";
  right: 2px;
  position: absolute;
  top: 3px;
}
.edit-area .arrow {
  left: 0;
  padding-left: 18px;
  position: relative;
  top: 0;
}
table.mb5 td {
  margin-bottom: 5px;
}

.label-sub {
  font-size:14px;
}

.open-data-block #open-button-area {
  margin:0 auto;
  width: 385px;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 10px;
}

.open-data-block #open-button-area table {
  margin-top:20px;
  margin-bottom:30px;
}
.open-data-block #open-button-area table td {
  text-align:left;
  padding-right:15px;
}
table.tbl tr.inq td, 
table.tbl tr.inq th {
  float: none;
  width: 22px;
  vertical-align: top;
  height: 25px;
}

th.ld-lg-l {
  height: 24px;
  padding-left: 8px;
  text-align: left;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  min-width: 40px;
}

td.ldd-wh-l {
  background-color: #ffffff;
  padding: 8px 10px;
  text-align: left;
  vertical-align: middle;
}

#program-order-previe {
  margin-left:40px;
  margin-right:15px;
  border: 1px solid #CCC;
  padding: 10px;
  width: 380px;
}

#program-order-previe .lead {
  margin-bottom:15px;
}

#program-order-previe .line {
  margin-bottom:5px;
}

.image-target-display {
  cursor: pointer;
}
